@font-face {
    font-family: 'Silkscreen[Rus by Mr.Enot]';
    src: url('fonts/Silkscreen [RUS by Mr.Enot].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Silkscreen[Rus by Mr.Enot]', sans-serif;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    font-family: 'Silkscreen[Rus by Mr.Enot]', sans-serif;
    color: rgb(136, 76, 136);
    text-align: center;
    margin-bottom: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    gap: 6px;
    background-image: url('/img/field.png');
    background-size: cover;
    padding: 1x;
    border-radius: 10px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.352);
    border: none;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

/*.cell:hover {
    background-color: rgba(30, 29, 29, 0.352);
}

.cell:active {
    background-color: rgba(14, 13, 13, 0.352);
}
*/
img {
    height: 45px;
    width: 45px;
}



.clear-field {
    background-color: rgb(20, 20, 20);
    border: 3px solid;
    border-color: rgb(194, 194, 194);
    border-radius: 10px;
    height: 60px;
    width: 60px;
    margin: auto;
    cursor: pointer;
}

.bottom-panel {
    margin: auto;
    margin-top: 50px;
    height: 80px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10PX;
    background-color: rgb(82, 82, 82);
}

.game-mode {
    font-size: 40px;
    font-family: 'Silkscreen[Rus by Mr.Enot]', sans-serif;
    color: rgb(228, 228, 228);
    background-color: rgb(20, 20, 20);
    border: 3px solid;
    border-color: rgb(194, 194, 194);
    border-radius: 10px;
    height: 60px;
    width: 60px;
    margin: auto;
    cursor: pointer;
}

.clear-field:active {
    background-color: rgba(96, 54, 104, 0.925);
}

.clear-field img {
    height: 35px;
    width: 35px;
}