@font-face {
    font-family: 'Silkscreen[Rus by Mr.Enot]';
    src: url('fonts/Silkscreen\ [RUS\ by\ Mr.Enot].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    color: rgb(136, 76, 136);
    font-family: 'Silkscreen[Rus by Mr.Enot]', sans-serif;
    text-align: center;
    margin-bottom: 100px;
    padding: 0;

}

body {
    font-family: 'Silkscreen[Rus by Mr.Enot]', sans-serif;
    background-color: black;
    background-size: cover;
}

#app>.score {
    border-radius: 5px;
    margin: auto;
    background-color: rgb(19, 18, 19);
    width: 222px;
}

#app>.score>.player-x {
    font-size: 20px;
    margin: 12px 0 0 0;
    height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(207, 42, 42);
}

#app>.score>.player-o {
    margin: 12px 0 0 0;
    height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(16, 112, 196);
}

section>#app>* {
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin: 6px;
    padding: 0;
}

section>#app>*>* {
    background-color: rgba(43, 42, 42, 0.352);
    border: 0px;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;


}

section>#app>*>*:hover {
    background-color: rgba(30, 29, 29, 0.352);
}

section>#app>*>*:active {
    background-color: rgba(14, 13, 13, 0.352);
}

img {
    padding: 0;
    margin: 0;
    height: 45px;
    width: 45px;
}

section>#app>.clear-field>img {
    margin: auto;
    height: 40px;
    width: 40px;

}

section>#app>.clear-field {
    background-color: rgba(58, 58, 58, 0.664);
    border: 0px;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;


}